<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@Page.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-xl">
        @RenderBody()
    </div>
    <script>
        var files;
        $('input[type=file]').on('change', function () {
            files = this.files;
        })

        $('.upload_files').on('click', function (event) {

            event.stopPropagation();
            event.preventDefault();

            if (typeof files == 'undefined') return;

            var data = new FormData();
            $.each(files, function (key, value) {
                data.append(key, value);
            });
            data.append('fileupload', 1);
            $.ajax({
                url: '/Pages/UploadFiles',
                type: 'POST',
                data: data,
                cache: false,
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (respond, status, jqXHR) {
                    if (typeof respond.error === 'undefined') {
                        var files_path = respond.files;
                        var html = '';
                        $.each(files_path, function (key, val) {
                            html += val + '<br>';
                        })

                        $('.ajax-reply').html(html);
                    }
                    else {
                        console.log('ОШИБКА: ' + respond.error);
                    }
                },
                error: function (jqXHR, status, errorThrown) {
                    console.log('ОШИБКА AJAX запроса: ' + status, jqXHR);
                }
            });

        });
    </script>
</body>
</html>