<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@Page.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
</head>
<body>
    <div class="container-xl">
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        var file;
        $('#inputGroupFile01').on('change', function () {
            file = this.files[0];
        })

        $('#UploadFiles01').on('click', function (event) {
            event.stopPropagation();
            event.preventDefault();
                
            if (typeof file == 'undefined') return;

            var data = new FormData();
            console.log(file);
            data.append("file", file)
            $.ajax({
                url: '/Pages/UploadFiles',
                type: 'POST',
                data: data,
                cache: false,
                processData: false,
                contentType: false,
                success: function (respond, status, jqXHR) {
                    if (respond != "error") {
                        let imgFolder = "./Content/Images/";
                        $("#image01").attr("src", imgFolder + respond)
                        $("#imageSource01").attr("value", respond);
                    } else {
                        $("#image01").attr("src", "");
                        $("#imageSource01").attr("value", "");
                    }
                },
                error: function (jqXHR, status, errorThrown) {
                    console.log('ОШИБКА AJAX запроса: ' + status, jqXHR);
                }
            });
        });
    </script>
</body>
</html>