@using System.Text;
@using Task06.BLL;
@using Task06.BLL.Interfaces;
@using Task06.DAL;
@using Task06.Entities;
@{
    Layout = "~/Layouts/_MainLayout.cshtml";
    Page.Title = "Index";

    IUserLogic userLogic = new UserLogic(
        new UserDao(Server.MapPath("~/App_Data/users.db")),
        new UserAwardTableDao(Server.MapPath("~/App_Data/users-awards.rel")));
    IAwardLogic awardLogic = new AwardLogic(
        new AwardDao(Server.MapPath("~/App_Data/awards.db")));
}

<h1>Index</h1>
<div>
    @foreach (var entry in userLogic.GetAll())
    {
        <h4>
            @entry.ToString()
        </h4>
        <ul>
            @foreach (var award in userLogic.GetAwardsFor(entry.Id, awardLogic))
            {
                <li>
                    @award.ToString()
                </li>
            }
        </ul>
    }
</div>